@model EventViewer.ViewModels.EventViewerViewModel

@{
    ViewData["Title"] = "Event Viewer v1.0.0";
}


<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/jquery.datetimepicker.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 align-center">
        <form asp-controller="EventViewer" asp-action="Search" method="post" id="searchForm">
            <div class="form-group">
                <label class="control-label">From</label>
                <input type="text" id="from" name="from" class="form-control" readonly="true"/>

            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input type="text" id="to" name="to" class="form-control"  readonly="true" />

            </div>
            <div class="form-group">
                <label class="control-label">Device serial number</label>
                <input name="DeviceSerialNumber" id="deviceSerialNumber" type="text" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Device type</label>
                <input name="DeviceType" type="text" id="deviceType" class="form-control" />

            </div>

            <div class="form-group align-center">
                <button type="submit" class="btn btn-outline-primary w-md">
                    <span id="loading" class="d-none"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;LOADING...&nbsp;/&nbsp;CANCEL</span>
                    <span id="loader">GET EVENTS</span>
                </button>
            </div>

        </form>
    </div>
    <div class="col-lg-4"></div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-body font-weight-bold">
                    <div class="row">
                        <div class="col-md-2 d-none" id="datesRange">
                            <p>FROM: <span id="fromResult"></span></p>
                            <p>TO: <span id="toResult"></span></p>
                        </div>

                        <div class="col-md-2 d-none" id="deviceName">
                            <p>Device Serial Number: <span id="dsnResult"></span></p>
                            <p>Device Type: <span id="dtResult"></span></p>
                        </div>

                        <div class="col-md-2 d-none" id="clear">
                            <button id="clear" class="btn btn-outline-warning w-md">
                                <span id="clearing" class="d-none"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;CLEARING... </span>
                                <span id="clearer">CLEAR</span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="text-danger align-center text-center">
                    <span class="text-center" id="error"></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline events-datatable">
                        <thead class="thead-light">
                            <tr>

                                <th>Device Serial Number</th>
                                <th>Device Type</th>

                                <th>Event Key</th>
                                <th>Event Value</th>
                                <th>Timestamp</th>

                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="~/assets/js/pages/jquery.datetimepicker.full.js"></script>

<script src="~/js/site.js"></script>