@model EventViewer.ViewModels.EventViewerViewModel

@{
    ViewData["Title"] = "Event Viewer v1.0.3";
}


<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/jquery.datetimepicker.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 align-center">
        <form asp-controller="EventViewer" asp-action="Search" method="post" id="searchForm">
            <div class="form-group">
                <label class="control-label">From</label>
                <input type="text" id="from" name="from" class="form-control" readonly="true"/>

            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input type="text" id="to" name="to" class="form-control"  readonly="true" />

            </div>
            <div class="form-group">
                <label class="control-label">Device serial number</label>
                <input name="DeviceSerialNumber" id="deviceSerialNumber" type="text" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Device type</label>
                <input name="DeviceType" type="text" id="deviceType" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label">Data type</label>
                <select class="form-control form-select" size="2" aria-label="size 2 select example" name="DataType" id="dataType">
                    <option selected value="events">EVENTS</option>
                    <option value="command">COMMANDS</option>
                </select>
            </div>

            <div class="form-group align-center">
                <button type="submit" class="btn btn-outline-primary w-md">
                    <span id="loading" class="d-none"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;LOADING...&nbsp;/&nbsp;CANCEL</span>
                    <span id="loader">GET DATA</span>
                </button>
            </div>

        </form>
    </div>
    <div class="col-lg-4"></div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="events-tab" data-toggle="tab" href="#eventstab" role="tab" aria-controls="events" aria-selected="true">Events</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="commands-tab" data-toggle="tab" href="#commandstab" role="tab" aria-controls="commands" aria-selected="false">Commands</a>
                    </li>

                </ul>


                <div class="row nogutters tab-content">

                <div class="col mr-2">
                    <div class="col tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 d-none" id="datesRange">
                                        <p>FROM: <span id="fromResult"></span></p>
                                        <p>TO: <span id="toResult"></span></p>
                                    </div>

                                    <div class="col-md-2 d-none" id="deviceName">
                                        <p>Device Serial Number: <span id="dsnResult"></span></p>
                                        <p>Device Type: <span id="dtResult"></span></p>
                                    </div>

                                    <div class="col-md-4">
                                    </div>

                                    <div class="col-md-4 d-none" id="tocsv">
                                        <button class="btn btn-outline-primary w-md float-right generatecsv">
                                            <span id="csvgenpr" class="d-none"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Generating CSV... </span>
                                            <span id="csvgen">CSV</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        <div class="table-responsive">
                            <table class="table table-bordered dt-responsive dataTable no-footer dtr-inline events-datatable">
                                <thead class="thead-light">
                                    <tr>

                                        <th>Device Serial Number</th>
                                        <th>Device Type</th>

                                        <th>Entry Key</th>
                                        <th>Entry Value</th>
                                        <th>Entry Timestamp</th>
                                        <th>Local Entry Timestamp</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                        <div class="tab-pane fade d-none" id="commands" role="tabpanel" aria-labelledby="commands-tab">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 d-none" id="datesRange">
                                        <p>FROM: <span id="fromResult"></span></p>
                                        <p>TO: <span id="toResult"></span></p>
                                    </div>

                                    <div class="col-md-2 d-none" id="deviceName">
                                        <p>Device Serial Number: <span id="dsnResult"></span></p>
                                        <p>Device Type: <span id="dtResult"></span></p>
                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-4 d-none" id="tocsv">
                                        <button class="btn btn-outline-primary w-md float-right generatecsv">
                                            <span id="csvgenpr" class="d-none"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Generating CSV... </span>
                                            <span id="csvgen">CSV</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        <div class="table-responsive">
                            <table class="table table-bordered dt-responsive dataTable no-footer dtr-inline commands-datatable">
                                <thead class="thead-light">
                                    <tr>

                                        <th>Device Serial Number</th>
                                        <th>Device Type</th>
                                        <th>Command Name</th>
                                        <th>Entry Key</th>
                                        <th>Entry Value</th>
                                        <th>Timestamp</th>
                                        <th>Local Entry Timestamp</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>

            </div>


                

            
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="~/assets/js/pages/jquery.datetimepicker.full.js"></script>

<script src="~/js/site.js"></script>