<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="">
                <li class="menu-title" key="t-menu">EVENT VIEWER 1.0.3</li>
                <li class="menu-item"><a href=@Url.Action("ReleaseNotes", "EventViewer")>Release notes</a></li>

            </ul>

        </div>
        <!-- Sidebar -->

    </div>
</div>
<!-- Left Sidebar End -->


